# IDEs
.idea
*.iml
.vscode
.atom
*.swp
*.swo

# NPM
node_modules

# Production
build

# Sensitive data
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
*.log*
